<!-- Channel -->
<Chat::Container @channel={{this.model}} as |messages channelApi|>
  <!-- Channel Header -->
  <Channels::Header
    @title={{this.model.name}}
    @description={{this.model.description}}
  />
  <!-- Channel Message List -->
  <div class="py-4 flex-1 overflow-y-scroll channel-messages-list" role="list">

    <!-- Message -->
    {{#each messages as |message|}}
      <Channels::Message @message={{message}} @delete={{fn channelApi.deleteMessage message.id}}/>
    {{/each}}
  </div>

  <!-- Channel Footer -->
  <Channels::Footer @sendMessage={{channelApi.createMessage}}/>
</Chat::Container>

